*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(182, 167, 167);
    padding: 10px;
    margin-bottom: 15px;
}

nav>li {
    display: inline-block;
    margin-right: 30px;
}

nav>li:nth-child(1) {
    margin-left: 150px;
}

nav>li:nth-child(5) {
    margin-right: 0px;
}

li>a {
    color: rgb(67, 101, 203);
    text-decoration: none;
}

li>a:hover {
    color: rgb(123, 163, 220);
}

h1 {
    margin-bottom: 15px;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
}

img {
    width: 109px;
    height: 100px;
    border: 7px solid rgb(182, 167, 167);
}

.img-text {
    vertical-align: top;
    display: inline-block;
}

p{
    width: 125px;
    text-align: center;
    color:rgb(67, 101, 203);
}